# IDE y configuración local
.idea/
*.iml
local.properties
/local.properties

# Archivos temporales y binarios
*.zip
*.apk
*.ap_
*.aab
*.dex
*.class
*.log
.DS_Store

# Carpetas generadas automáticamente
.gradle/
build/
app/build/
captures/
.externalNativeBuild/
.cxx/
bin/
gen/
out/
release/
proguard/

# Herramientas externas
.navigation/
google-services.json
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/readme.md
